:root {
  --cta-color-return:#0B62E5;
  --cta-color-prime:#FF0021;
  --secondary-color:#5CDB5C;
  --main-font: 'Roboto', sans-serif ;
  --info-font: 'Roboto', sans-serif;
 
 }
 .item {
     border: 1px solid #ddd;
     display: flex;
     flex-direction: row; 
     align-items: center; 
     gap: 20px; 
     margin-bottom: 20px; 
     background: #fff; 
   }
   h1{
     font-family:var(--info-font);
     font-weight: bold;
     
   }
   p{
     font-family: var(--info-font);
     font-size: 12px;
 
   }
 
 
   .item-image img {
     display: block;
     max-width: 200px; 
     height: auto; 
   }
   
   .item-content {
     flex: 1; 
     padding: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   .item-content h2 {
     margin-top: 0;
     margin-bottom: 10px; 
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 16px;
     font-weight: bold;
     
   }
   body{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
   }
   
   .borrow-button {
     background-color: var(--secondary-color);
     border: none;
     color: white;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     cursor: pointer;
     width: 170px;
     border-radius: 20px;
   }
   
   .borrow-button.not-available {
     background-color:var(--cta-color-prime); 
     border-radius: 5px;
   }
   
   .cart-items {
     display: none;
     position: absolute;
     right: 20px;
     top: 50px;
     border: 1px solid #ddd;
     background: grey;
     z-index: 1000;
    
   }
 .cart{
   cursor: pointer ;
 }
   .cart-items.visible {
    display: block;
     width: 200px;
 
   }
   
   .return-button {
     background-color:var(--cta-color-prime);
     border: none;
     color: white;
     padding: 5px 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     cursor: pointer;
     border-radius: 20px;
     
   }
 

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    color: black;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    padding: 0 15px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  .navbar .logo a {
    list-style: none;
    text-decoration: none;
  }
  .nav-links li a:hover {
    color: #f39c12;
  }
  
  .icons .icon-link {
    color: #ffffff;
    padding: 0 10px;
    transition: color 0.3s;
  }
  
  .icons .icon-link:hover {
    color: #f39c12;
  }
  .cart-item-name {
    display: block; 
    margin-right: 10px; 
    font-weight: bold; 
}
  .cart-count {
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 14px;
  }
  .fas{
    color : black;
  }
  .cart-items-container {
    display: none; 
    position: absolute;
    right: 600px;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    width: 150px;
  }
  
  .cart-items-list {
    max-height: 400px;
    overflow-y: auto;
  }
  
  #confirm-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  #confirm-btn:hover {
    opacity: 0.8;
  }
  .date-active{
    color: var(--cta-color-prime);
  }
  .date-inactive{
    color: #33363F;
  }